@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exile&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import "tailwindcss";

@theme{
    --color-primary:#FFD3D5;
    --color-accent:#92487A;
    --color-secondary-text:#4A4947;
    --font-fancy: 'Exile', sans-serif;
    --font-heading: 'BBH Sans Hegarty', sans-serif;
}